.custom-accordion-header {
  font-size: 14px;
}

.custom-accordion-content {
  margin-right: 20px;
  padding: 5px 12px;
  font-weight: 500;
}
.flex__container {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 3rem;
}
.achieve__container{
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
.achieve__section-bottom{
  display: flex;
  gap: 2rem;
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 6px;
}

.splitter{
  padding: 2rem;
}
.splitter__heading{
  font-size: 14px;
  font-weight: 600;
  color: #8a92a6;
}

.splitter__content{
margin-top: 1rem;
display: flex;
flex-direction: column;
gap: 20px;
font-size: 13px;
}
.text__icon{
  padding-right: 8px;
  color: #087C8F;
}